:root {
  --primary-background-color: #f5f5f5;
  --background-color: #ffffff;
  --button-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --text-color: #212121;
  --text-active-color: #2196f3;
  --text-title-color: #757575;
  --active: #320242;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  /*background-color: var(--background-color);*/
}

ul {
  list-style: none;

}

/*Властивост контейнера*/

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  /*outline: 2px solid blue;*/
}

  h1, h2, h3, ul, p {
    padding: 0;
    margin: 0;
  }


/*Хедер*/
/*Flex*/

.header-nav,
.hefder-list-site,
.hefder-list-auth  {
  display: flex;
  align-items: center;
  
}
.header-nav{
border-bottom: 1px solid #ECECEC;}

.header-page {
  background-color: var(--background-color);
}

/*Логотип*/

.text-web {
  font-family: "Raleway";
  /**font-style: normal;
font-weight: 700;*/
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
  color: var(--text-active-color);
  margin-left: 15px;
}

/*Навiгацiя*/

/*шрифт*/
.header-link,
.connect-link,
.header-link-current {
  /*font-style: normal;*/
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
}
/*колiр*/
.header-link {
  color: var(--text-color);
  /*outline: 2px solid blue*/
}

.header-nav .header-link.current {
  color: var(--text-active-color);}
  /*outline: 2px solid blue;}*/

.hefder-list-site .item + .item {
  margin-left: 50px;
}

.hefder-list-site .item {
  margin-left: 90px;
}

/*пошта, телефон*/

.connect-link {
  color: var(--text-title-color);
}

.text-web,
.header-link,
.header-link-current,
.connect-link,
.address {
  text-decoration: none;
}

.hefder-list-auth .item + .item {
  margin-left: 50px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.hefder-list-auth .item {
  margin-left: 340px;
}

/*Заголовок студiя*/

.title {
  /*font-style: normal;*/
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color);
  padding-top: 200px;
  padding-left: 252px;
  padding-right: 252px;
  }

.section {
  background-color: var(--footer-background-color);
}

/*Прихований текст*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Переваги*/
/* Заголовки 
"Увага до деталей"
"Пунктуальнiсть"
"Планування"
"Сучаснi технологii"*/

.main-list {
  display: flex;
  margin-left: 15px;
  margin-top: 94px;
  margin-bottom: 94px;
}

.desc {
  margin-left: 30px;
}

.title-desc {
  /*font-style: normal;
font-weight: 700;*/
  font-size: 14px;
  line-height: 1.1482;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
}

/*Текст абзацiв*/

.description {
  /*font-style: normal;
font-weight: 400;*/
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: var(--text-title-color);
}
/*Заголовки 
"Чим ми займаэмось"*/
.img-list {
  display: flex;
  justify-content:space-between;
  margin-left: 15px;
  margin-top: 50px;
  margin-bottom: 94px;
}

.team {
  /*font-style: normal;
font-weight: 700;*/
  font-size: 36px;
  line-height: 1.1667;
  letter-spacing: 0.03em;
  color: var(--text-color);
  padding-top: 94px;
}
/*Команда*/

.team-list {
  display: flex;
  margin-left: 15;
  margin-top: 50px;
  padding-bottom: 94px;
  justify-content:space-between;
}

.team-subtitle {
  /*font-style: normal;
font-weight: 700;*/
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
  text-align: center;
  margin-top: 30px;
}

.team-text {
  /*font-style: normal;
font-weight: 400;*/
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-title-color);
  margin-top: 10px;
  margin-bottom: 30px;
}

.fone {
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px
}

.team-section {
  background: var(--button-background-color);
}

/*Секця роботи*/
/*Кнопки*/
/*Шрифт*/

.button-list {
  display: flex;
  margin-top: 94px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.button-list .list + .list {
  margin-left: 8px;
}

.button-list {
  justify-content: center;
}


.conteiner-button {
  width: 1200px;
  /*outline: 2px solid blue;*/
  margin-left: auto;
  margin-right: auto;  
}

.button {
  font-family: 'Roboto';
  /*font-style: normal;*/
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  display: inline-block;
}

.button-order {
font-family: 'Roboto';
/*font-style: normal;
font-weight: 700;*/
  font-size: 16px;
  line-height: 1.875;
  /*display: flex;*/
  /*align-items: center;*/
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--background-color);
  background-color: var(--text-active-color);
  border-radius: 4px;
  padding: 10px 32px;
  border: 1px solid transparent;
  margin-top: 40px;
  margin-bottom: 210px;
  }
/*Колiр*/

.button {
  color: var(--text-color);
  background-color: var(--button-background-color);
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px
}

/*Заголовки*/
 
.link-title {
  display: flex;
  margin-left: auto;
  margin-right: auto;
 
}

.link-title .link-subtitle {
  margin-right: 30px;
  margin-bottom: 30px;
} 

.link-subtitle:nth-child(3n) {
  margin-right: 0;
  margin-bottom: 0;
}

.subtitle {
  /*font-style: normal;
font-weight: 700;*/
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}

/*Категорii*/

.text {
  /*font-style: normal;
font-weight: 400;*/
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-title-color);
}

/*Футер*/

footer {
  background-color: var(--footer-background-color);
}

/*Адреса*/

.footer {
  padding-top: 60px;
}

.footer-contact {
padding-left: 15px;
padding-top: 10px;
}

.connect {
  padding-top: 10px;
}

.tell {
  padding-bottom: 60px;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: var(--background-color);
  text-decoration: none;
  }

.connect {
  /*font-family: 'Roboto';*/
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

/*Hover*/

.header-link:hover,
.connect-link:hover,
.connect:hover,
.address:hover {
  color: var(--text-active-color);
}

.header-link-current:hover {
  color: var(--text-color);
}

.button:hover {
  color: var(--background-color);
  background-color: var(--text-active-color);
}

.button-order:hover {
  color: var(--text-color);
  border: none;
}

/*Focus*/

.header-link:focus,
.connect-link:focus,
.connect:focus {
  color: var(--text-active-color);
}

.header-link-current:focus {
  color: var(--text-color);
}

.button:hover {
  color: var(--background-color);
  background-color: var(--text-active-color);
}

.button-order:focus {
  color: var(--text-color);
  border: none;
}

/*Active*/

.header-link:active,
.button:active {
  color: var(--text-color);
}

.button-order:active {
  color: var(--background-color);
}
